recursive-include doc/reference *.html *.css
recursive-include doc/examples *.py *.bib
recursive-include doc/manual *.pdf *.tex *.dia

recursive-include demo *.xml *.tac *.py README

recursive-include Pyblio *.py
recursive-include Pyblio/RIP *.rip *.sip *.cip

recursive-include tests *.sh *.py *.xml *.bib *.isi *.ris *.rip *.bip *.sip *.cip

include ez_setup.py
